
<div class="content-section implementation">
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Buscar">
    </div>
    <p-dataTable [value]="lista"  [lazy]="true" [rows]="10" [paginator]="true" [pageLinks]="3" [responsive]="true"  
        [globalFilter]="gb" #dt
         [totalRecords]="totalRecords" (onLazyLoad)="loadCarsLazy($event)" >
        <p-header>Consulta de Solicitudes</p-header>
        <p-column  header="Opciones">
            <ng-template let-car="rowData" pTemplate="body">
                <button type="button" pButton class="ui-button-info" (click)="seleccion(car)" icon="fa fa-eye"></button>

                <button type="button" pButton class="ui-button-secondary"  (click)="imprimir(car)"   icon="fa fa-print"></button>
            </ng-template>
        </p-column>
        <p-column field="gestion" header="Gestion" [sortable]="true" [filter]="true" filterPlaceholder="buscar"></p-column>
        <p-column field="nroDocumento" header="Nro. Documento" [sortable]="true" [filter]="true" filterPlaceholder="buscar"></p-column>
        <p-column field="cgRegCodesDetalle.descTipo" header="Tipo Operación" [sortable]="true" [filter]="true" filterPlaceholder="buscar"></p-column>
        <p-column field="motivoSolicitud" header="Motivo" [sortable]="true" [filter]="true" filterPlaceholder="buscar"></p-column>
        <p-column field="fechaElaboracion" header="Fecha Elaboración"  >
            <template let-col let-rowd="rowData" pTemplate="body">
                {{rowd[col.field]|date }}
            </template>
        </p-column>
        <p-column field="fechaAprobacion" header="Fecha Aprobación">
            <template let-col let-rowd="rowData" pTemplate="body">
                {{rowd[col.field]|date }}
            </template>
        </p-column>
        <p-column field="apiEstado" header="Estado" [sortable]="true" [filter]="true" filterPlaceholder="buscar"></p-column>
    </p-dataTable>
</div>
